{% extends "form_card.html" %}

{% block title %}Generate User{% endblock %}

{% block card_content %}
<div class="row justify-content-center">
    <div class="col-lg-6">
        <h1 class="card-title text-center mb-4">New User</h1>
        <form method="POST" action="{{ url_for('user.generate') }}" autocomplete="off">
            {{ form.csrf_token }}
            <div class="form-group">
                {{ form.email.label(class="form-label") }}
                {{ form.email(class="form-control", value="") }}
                {% for error in form.email.errors %}
                    <div class="invalid-feedback">{{ error }}</div>
                {% endfor %}
            </div>
            <div class="form-group">
                {{ form.submit(class="btn btn-primary d-block w-100 mt-4") }}
            </div>
        </form>
    </div>
</div>
{% endblock %}